.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.tabs
  .tab {
  border-radius: 9px;
  margin-right: 5px;
  border: none;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.tabs
  .tab.active {
  border-bottom: 1px dotted #00d787;
}

/* .monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.tabs
  .tabs-and-actions-container {
  overflow-x: hidden;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.tabs
  .tabs-scrollable {
  scrollbar-width: none;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.tabs
  .tabs-scrollable::-webkit-scrollbar {
  display: none;
} */
